<html class = "wrapper">
<link rel="stylesheet" href="http://jmurray.altervista.org/Synco/SyncoCss2.2.css">

<div>
	<img src="http://jmurray.altervista.org/Synco/SyncoImgName.png" alt="Synco" height ="100" width="200">
</div>
<div class="row">
	<div class="col-sm-3 col-xs-0"></div>
	<div class="col-sm-6 col-xs-12 well" >
		<hi>New Comment</h1>
			<form name="commentForm" ng-submit="makeComment(commentForm)">

				<div class="form-group">
					<input type="text" name="Comment" ng-model ="post.ctext"
					required placeholder="Your comment here..." class="form-control">
				</div>

				

				<input type="submit" name="save" value="Post" class="btn btn-success">
			</form>
	</div>
	<div class="col-sm-3 col-xs-0"></div>
</div>
</html>