<html>
<link rel="stylesheet" type = "text/css" href="app.css.map">
<div class="test"> <h1> Hey Buddy :) </h1>
<div class="row">
	<div class="col-sm-4 col-sm-push-3 well">
		<hi>Login</h1>
			<form name="loginForm" ng-submit="doLogin(loginForm)">

				<div class="form-group">
					<input type="email" name="email" ng-model ="login.username"
					required placeholder="Enter your email" class="form-control">
				</div>

				<div class="form-group">
					<input type="password" name="password" ng-model="login.password"
					required placeholder="Enter your password" class="form-control">
				</div>

				<input type="submit" name="save" value="Login" class="btn btn-success">
			</form>
	</div>
</div>
</div>


<style>
	{
		.test
		{
		background-color: red;
	  }
		h1
		{
			color: blue;
		}
	}
</style>
</html>
