<table class="table">
	<thead>	
		<tr>
			<th></th>
			<th>Score</th>
			<th>Upvotes</th>
			<th>Downvotes</th>
			<th>Title</th>
			<th>Post Text</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>	
		<tr ng-repeat="x in posts | limitTo:howMany">
		    <td>
		    	<button class="btn btn-default btn-xs btn-up" >Upvote</button>
		    	<button class="btn btn-default btn-xs btn-down" >Downvote</button>
		    </td>
		    <td>{{ x.about.post_score }}</td>
		    <td>{{ x.about.upvotes }}</td>
		    <td>{{ x.about.downvotes }}</td>
		    <td>{{ x.about.title }}</td>
		    <td>{{ x.about.ptext }}
		    <td>{{ x.about.num_comments }}
		    <td>
		    	<a href = "#/ViewOrder"><button class="btn btn-default btn-xs btn-view">View/Comment</button></a>
		    	<button class="btn btn-default btn-xs btn-edit" >Edit</button>
		    	<button class="btn btn-danger btn-xs btn-delete" ng-click="confirmDelete(x.about.id)">Delete</button>

		    </td>
		    
		    
		</tr>
	</tbody>
</table>

<div ng-view>
</div>	
