<!DOCTYPE html>
<html lang="en">
<head>
  <title>Synco -- Post</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type = "text/css" href="http://jmurray.altervista.org/Synco/SyncoShow_Post.css">
</head>
<body>
	<div>
    <img src="http://jmurray.altervista.org/Synco/SyncoImgName.png" alt="Synco" height ="100" width="200">
  </div>

	<p>SHOW POST PAGE</p>

	<table class="table"> <!-- class="table" -->

	<thead>
		<tr>
			<th></th>
			<th>Score</th>
			<th>Upvotes</th>
			<th>Downvotes</th>
			<th>Title</th>
			<th>Post Text</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		    <td>
		    	<button class="btn btn-default btn-xs btn-up" >Upvote</button>
		    	<button class="btn btn-default btn-xs btn-down" >Downvote</button>
		    </td>
		    <td>{{ post[0].about.post_score }}</td>
		    <td>{{ post[0].about.upvotes }}</td>
		    <td>{{ post[0].about.downvotes }}</td>
		    <td>{{ post[0].about.title }}</td>
		    <td>{{ post[0].about.ptext }}</td>
		    <td>{{ post[0].about.num_comments }}</td>
		    <td>
		    	<button class="btn btn-default btn-xs btn-view" ng-click="viewPost(x.about.id)">View/Comment</button>
		    	<button class="btn btn-default btn-xs btn-edit" ng-click="editPost(x.about.id)">Edit</button>
		    	<button class="btn btn-danger btn-xs btn-delete" ng-click="confirmDelete(x.about.id)">Delete</button>

		    </td>


	</tbody>
</table>
</div>
</div>
</body>
</html>
